@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --border: rgba(76, 76, 76, 0.159);
    --primary: #f7c14c;
    --primary-foreground: #2b2417;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: rgba(76, 76, 76, 0.556);
    --primary: #f7c14c;
    --primary-foreground: #2b2417;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*::selection {
  background: #f7c14c1c;
}
